.loading {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
    flex-direction: column;
}


span.MuiLinearProgress-root.MuiLinearProgress-colorPrimary.MuiLinearProgress-indeterminate.css-eglki6-MuiLinearProgress-root {
    width: 80%;
    margin-top: 10%;
    color: #C1121F;
}